* {
  padding: 0;
  margin: 0;
}

body {
  padding: 10px;
  background-color: #272727;
}

.content {
  display: flex;
}
.App-header {
  width: 100%;
  display: flex;
}
.addArticle {
  width: 70%;
  margin-right: auto;
}
.headMemberIcon {
}
